* {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-ligthgray {
    color: #727272;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
}

header .nav-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 228px;
}

.G3 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}

nav li {
    list-style: none;

}

.banner {
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.btn-primary {
    color: #FFF;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
}

.banner-img {
    max-width: 1440px;
    margin-top: 50px;
    margin-left: 240px;
    margin-bottom: 45px;
}

.second-section {
    max-width: 1440px;
    margin: 0 auto;
}

.container-designers {
    display: flex;
    margin-top: 85px;
    align-items: center;
}

.container-designers .snd-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.snd-title {
    margin-left: 74px;

}

.quick {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.fchr {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;

}

.third-section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;

}

.enjoy {
    margin-top: 160px;
    margin-bottom: 24px;
    border-left: #FF900E solid 3px;
    padding-left: 20px;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.feature-content .card {
    border: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 30px;
    margin-bottom: 20px;
    margin-right: 145px;
}

.mdm-architect {
    margin-top: 130px;
    margin-bottom: 0px;
    margin-left: 80px;
    width: 708px;
    height: 982px;
    border-radius: 8px;
}

.year {
    border-radius: 8px;
    background-color: #FF900E;
    width: 342px;
    height: 200px;
    text-align: center;
    position: relative;
    bottom: 100px;
    padding: 45px 42px;
}

.ten {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
}

.experience {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;

}

.forth-section {
    max-width: 1440px;
    margin: 0 auto;
}

.facts {
    margin-bottom: 100px;
}

.facts h1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.cards-details {
    display: flex;
    justify-content: space-around;
}

.cards-details div {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px 38px 60px;
    margin-bottom: 180px;
}

.fifth-section {
    max-width: 1440px;
    margin: 0 auto;
}

.sponspors-details {
    text-align: center;
    margin-bottom: 50px;
}

.our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.sponspors-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 130px;
}

footer{
    max-width: 1440px;
    margin: 0 auto;
}

.footer-part{
    border-radius: 8px;
    background-color: #FFF4E7;
    height: 100px;
    text-align: center;
    padding-top: 39px;
    margin-bottom: 150px;
}

.all-right{
color: #424242;
font-size: 20px;
font-weight: 400;
}


@media screen and (max-width:576px) {
    header {
        .nav-title {
            flex-direction: column;
        }

        .banner-img {
            width: 90%;
            margin-left: 20px;
        }

    }

    .container-designers {
        flex-direction: column;
    }

    .container-designers .snd-images {
        display: flex;
        flex-direction: column;
    }

    .third-section {
        flex-direction: column;
    }

    .mdm-architect {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .cards-details {
        flex-direction: column;
    }

    .sponspors-logo {
        flex-direction: column;
        gap: 20px;

    }

}

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        .nav-title {
            flex-direction: column;
        }

        .banner-img {
            width: 90%;
            margin-left: 40px;
        }
    }

    .container-designers {
        flex-direction: column;
    }

    .container-designers .snd-images {
        gap: 5px;

    }

    .third-section {
        flex-direction: column;
    }

    .sponspors-logo {
        flex-direction: column;
        gap: 20px;
    }

}